.bgblue {
    background-color: aqua;
}

.bgred {
    background-color: coral;
}

.bggray {
    background-color: gainsboro;
}

.bgpurple {
    background-color: darkmagenta;
}

.bggreen {
    background-color: darkseagreen;
}